CSDEV/flows/HAE_Change_Case_Record_Type.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>HAE: This process is responsible to change record type of case based on record type developer name and case id provided from external source (Process Builder).</description>
    <interviewLabel>HAE_Change_Case_Record_Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Case Record Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>HAE:  Assign record type id based on record type developer name provided from external source (process builder).</description>
        <name>Get_Record_Type_For_Case</name>
        <label>Get Record Type For Case</label>
        <locationX>344</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Record_Type</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeName</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>HAE; Change case record type.</description>
        <name>Update_Case_Record_Type</name>
        <label>Update Case Record Type</label>
        <locationX>581</locationX>
        <locationY>50</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>providedCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Record_Type_For_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>HAE: Case Id provided from process builder.</description>
        <name>providedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>HAE: Holding Record type Id based on Record Type Name.</description>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>HAE: Record Type Developer Name provided from Process Builder.</description>
        <name>recordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
